venv/

*.pyc
__pycache__/

instance/
migrations/

.pytest_cache/
.coverage
htmlcov/

src/public/imgs
scripts/real_data/
scripts/new_data/

env/
dist/
build/
*.egg-info/
.DS_Store
.idea
.vscode/.ropeproject
node_modules/

dev-*.sh
stag-*.sh
prod-*.sh
