<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
        <title>OASIS</title>
    </head>

    <body>

        <header>
            <h1 class="title">OASIS endpoints</h1>
        </header>

        <section class="content">
            <ul class="endpoints">
                <li><a href="api/user">List users</a></li>
                <li><a href="api/place">List places</a></li>
                <li><a href="api/event">List events</a></li>
                <li><a href="api/artwork">List artworks</a></li>
            </ul>
        </section>

    </body>
</html>
